.center {
  text-align: center;
}
.s-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  background: #fff;
}

.space-all {
  padding: 2rem;
}

.space-x {
  padding: 0 2rem;
}

.space-y {
  padding: 2rem 0;
}

.space-t-1 {
  padding-top: 0.25rem;
}

.space-b {
  padding-bottom: 2rem;
}

.f-header-1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #002658;
}

.f-title {
  font-weight: bold;
  color: #002658;
}

.f-subtitle {
  text-transform: uppercase;
  font-size: x-small;
  color: #264d89;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-no-wrap {
  display: flex;
}

.flex-image {
  width: 2rem;
  height: 2rem;
}

.flex.rows > li {
  width: 33%;
}

.items > div {
  padding-right: 1rem;
}

ul.list {
  align-self: start;
  list-style-type: none;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 20px;
  grid-gap: 5px;
  place-items: center;
}

.start {
  margin-right: auto;
}

.item {
  background: yellow;
  text-align: center;
  border: 1px solid red;
  width: 100px;
}

span.btn {
  border-radius: 10px;
  padding: 0.1rem 0.4rem;
}

.btn.pending {
  color: #000;
  background-color: #eee;
}

.btn.connected {
  color: #fff;
  background-color: #00b853;
}

.btn.disconnected {
  color: #fff;
  background-color: #df3131;
}

span.spinner {
  position: absolute;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #000; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .flex {
    display: flex;
    flex-direction: column;
  }
  .grid-row {
    grid-gap: 3rem;
    grid-template-columns: minmax(0, 1fr) 300px;
  }
}
